@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,500;0,6..96,700;1,6..96,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');



.hero {
  border: 1px dashed gray;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: 0 auto;
}

.hero__top {
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero__profile {
  max-width: 130px;
  height: auto;
  border-radius: 30px;

  margin: 20px;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  margin-left: 20px;
  text-align: center;
}

.hero__bottom {
  width: 60%;
  margin: auto;
  font-family: 'Times New Roman', Times;
  margin-top: 20px;

  margin-bottom: 60px;

  line-height: 30px;
}

.hero__bottom-text {
  font-size: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 0.850);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
