@import url('https://fonts.googleapis.com/css2?family=Borel&family=Quicksand:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
}

