@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}


/* Mobile styles */
@media only screen and (max-width: 481px) {
  .profile {
    display: none;
  }
  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-content h1{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
  }

  .social {
    align-self: center;
  }

  .social img {
    margin-top: 70px;
    margin-left: 6px;
    margin-right: 6px;

    width: 40px;
    height: auto;
  }
}
