.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.nav-menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-dot {
    color: white;
    font-size: 16px;
    margin-top: -3px; /* This helps align the dot vertically */
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
}


.nav-links a:hover {
    color: var(--accent-color);
}