/* 
 * components/hero.css
 * Hero section styles
 */

 .hero {
    padding: 9rem 0 6rem;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* Circle decorations */
.star-decoration {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 50%;
    opacity: 0.8;
    border: 1px solid #eaeaea;
}

.star-1 {
    top: 10%;
    left: 20%;
    transform: scale(0.7);
}

.star-2 {
    bottom: 30%;
    right: 25%;
    transform: scale(0.9);
}

.intro-heading {
    margin-bottom: 3rem;
    max-width: 1200px;
}