@media screen and (max-width: 580px) {
  .topsection-img {
    height: 200px;
  }  

  .topsection-header {
    font-size: 20px;
  }

  .section-div .section-button {

    padding: 15px 30px 15px 30px;
    font-size: 15px;

    margin-top: 70px;
  }
}